{{ $posts := where .Site.RegularPages "Type" "post" }} <!-- Filter only posts -->
{{ $filteredPosts := where $posts "Params.categories" "intersect" (slice "featured-articles") }} <!-- Filter posts by the specified category -->
{{ $sortedPosts := $filteredPosts.ByParam "weight" }} <!-- Sort the filtered posts by weight -->
<!-- Now, we limit the output to the top 3 weighted posts -->
{{ range $sortedPosts }}
<p>
    <a href="{{ .Permalink }}">{{ .Title }} </a>&ndash;  {{ T "article.readingTime" .ReadingTime }}
    <br> {{ if .Description }} {{ .Description }} {{ else }} {{ .Summary }} {{ end }}
</p>
{{ end }}
